/* color palette sourced from: https://coolors.co/404e4d-63595c-646881-62bec1-5ad2f4 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', 'sans-serif';
}

:root {
    --darkclr: #404e4d;
    --whtclr: whitesmoke;
    --actionbtn: #5AD2F4;
    --actfont: #646881;
    --btnborderRd: 7px;
    --btnpaddinglg: 10px;   /* for large start, redo, and quit buttons */
    --btnpaddingsm: 5px;    /* for the answer options buttons */
}

body {
    margin: 50px 300px 500px 300px;
    background: var(--darkclr);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--whtclr);
}

button {
    color: var(--actfont);
    background: var(--actionbtn);
    font-weight: bolder;
    padding: var(--btnpaddingsm);
    border: 1px solid var(--actfont);
    width: 100px;
    border-radius: var(--btnborderRd);
    cursor: pointer;
}

button:hover{
    background: #9de0f3;
}

button.highScores {
    float: left;
    position: relative;
    font-size: larger;
    margin: 2px;
}

button.startBtn {
    position: relative;
    font-size: larger;
    margin-top: 5%;
}

.quizCard {
    display: none;
    border: 2px solid black;
}

.timer {
    float: right;
    padding: 2%;
    margin: 5px;
    color: rgb(252, 215, 8);
    font-weight: bold;
    border: 1px solid rgb(133, 3, 3);
}

.resultCard {
    display: none;
    border: 2px solid black;
}