/* color palette sourced from: https://coolors.co/404e4d-63595c-646881-62bec1-5ad2f4 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', 'sans-serif';
}

:root {
    --darkclr: #404e4d;
    --whtclr: whitesmoke;
    --actionbtn: #5AD2F4;
    --actfont: #646881;
    --btnborderRd: 7px;
    --btnpaddinglg: 10px;   /* for large start, redo, and quit buttons */
    --btnpaddingsm: 5px;    /* for the answer options buttons */
    --btncursor: pointer;
}

body {
    margin: 50px 300px 500px 300px;
    background: var(--darkclr);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--whtclr);
}

button {
    color: var(--actfont);
    background: var(--actionbtn);
    font-weight: bolder;
    padding: var(--btnpaddingsm);
    border: 1px solid var(--actfont);
    width: 100px;
    border-radius: var(--btnborderRd);
}

.highScores {
    float: left;
    font-size: larger;
}

.start .startBtn {
    diplay: flex;


}