/* color palette sourced from: https://coolors.co/404e4d-63595c-646881-62bec1-5ad2f4 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', 'sans-serif';
}

:root {
    --darkclr: #404e4d;
    --whtclr: whitesmoke;
    --actionbtn: #5AD2F4;
    --actfont: #646881;
    --btnborderRd: 7px;
    --btnpaddinglg: 10px;   /* for large start, redo, and quit buttons */
    --btnpaddingsm: 5px;    /* for the answer options buttons */
    --btncursor: pointer;
}

#main-header {
    color: var(--whtclr);
    text-align: center;
}

body {
    background: var(--darkclr);
    text-align: center;
    color: var(--whtclr);
}

#start-button button {
    font-size: 30px;
    font-weight: bold;
    margin: 2%;
    color: var(--actfont);
    background-color: var(--actionbtn);
    border-radius: var(--btnborderRd);
    padding: var(--btnpaddinglg);
    cursor: var(--btncursor);
}

/* container for answer choices */
#section-1 {
    display: inline-block;
    padding: 3%;
    background-color: black;
    border: 2px solid var(--whtclr);
    border-radius: var(--btnborderRd);
}

/* each possible answer button */
#answer-choices {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
    margin: 10%;
}

.choice {
    background: #63595C;
    margin: 2%;
    padding: 5%;
    cursor: var(--btncursor);
}

#main-footer{
    display: inline-block;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom-left-radius: var(--btnborderRd);
    border-bottom-right-radius: var(--btnborderRd);
}

.prev-next {
    font-size: 18px;
    margin: 4%;
    padding: 2%;
}

#bottom-buttons {
    display: flex;
    flex-direction: row;
}

#bottom-buttons button {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: var(--actfont);
    background-color: var(--actionbtn);
    border-radius: var(--btnborderRd);
    padding: var(--btnpaddinglg);
    cursor: var(--btncursor);
}